* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 77px;
  padding-bottom: 15px;
  padding-top: 5px;
}

#logo {
  width: 150px;
}

#menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

#menu a {
  text-decoration: none;
  color: black;
}

#menu li {
  padding: 9px 9px;
  font-size: 16px;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  margin-top: 14px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  cursor: pointer;
  z-index: 100;
}

.submenu li {
  list-style-type: none;
}

.show {
  display: block;
}

.submenu::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(250, 250, 250, 1) transparent;
}

#buttons {
  display: flex;
  flex-direction: row;
}

#button-us a {
  background-color: #8cc740;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-left: 1.3rem;
  font-weight: 700;
  cursor: pointer;
}

#button-enter a {
  background-color: #fff;
  border: 1px solid #8cc740;
  color: #8cc740;
  border-radius: 5px;
  padding: 9px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-left: 9px;
  cursor: pointer;
}

#button-us a:hover,
#button-enter a:hover {
  background-color: #70a330;
  color: white;
  transition: 0.5s;
}

#section {
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 350px;
  background-image: url(images/spiral_background.png),
    linear-gradient(180deg, #089cdc 0%, #0789da 100%);
  background-size: 312px, 100%;
  background-repeat: no-repeat;
  background-position: -80px -40px, center center;
  display: flex;
  align-items: center;
}

#title h1 {
  font-size: 30px;
  font-family: roboto condensed, sans-serif;
  color: #fff;
}

#title img {
  width: 50px;
  margin-bottom: 20px;
}

#section-text {
  margin-left: 7%;
}

#section-text p {
  font-size: 16px;
}

.filters-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
  margin: 0 30px 30px;
}

.text-filter {
  flex-grow: 2;
  flex-basis: 200px;
}
.text-filter > input {
  width: 100%;
  height: 100%;
  background-color: #8cbb2c;
  border: none;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}

.text-filter > input::placeholder {
  font-weight: bold;
  color: #ffffff;
}

.text-filter > input:focus {
  border-color: #8cbb2c;
  box-shadow: 0 0 5px #8cbb2c;
}

.filter-button {
  background-color: #e8e8e8;
  color: #8cbb2c;
  border: 2px solid #8cbb2c;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.filter-button:hover {
  background-color: #d4d4d4;
}

#posts-by-knowledge-area-BNCC-filter{
  width: 100%;
  height: 100%;
  background-color: #8cbb2c;
  border: none;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}

#posts-by-knowledge-area-BNCC-filter-form{
  background-color: #8cbb2c;
  border: none;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

#footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.212);
  padding-top: 15px;
}

#footer-menu-links {
  list-style: none;
  display: flex;
}

#footer-menu-links a {
  text-decoration: none;
  color: black;
}

#footer-menu-links li {
  margin: 10px;
}

#social-media-links {
  list-style: none;
  display: flex;
}

#social-media-links a {
  color: black;
  font-size: 30px;
}

#social-media-links li {
  margin: 5px;
}

#black-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  width: 100%;
  height: 200px;
}

#footer-logo-rbac {
  width: 200px;
  height: 50px;
}

#black-footer-text {
  font-size: 15px;
  width: 30%;
  text-align: left;
}

#footer-fundacao {
  width: 100px;
  height: 40px;
}

#footer-mit {
  width: 100px;
  height: 60px;
}

#footer-information {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#footer-information a {
  text-decoration: none;
  color: #ed008c;
}

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 2.5% 0;
}

.graph-title-container {
  width: 300px;
  height: 40px;
  background-color: rgb(140, 199, 64);
  border-radius: 10px;
  display: flex;
  color: white;
  font-size: 17px;
  font-weight: 600;
  padding: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}

#table-top-5-people {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

#table-top-5-people th {
  background-color: #f2f2f2;
  border: 2px solid #dddddd;
  padding: 8px;
  text-align: left;
}

#table-top-5-people td {
  border: 2px solid #dddddd;
  padding: 8px;
  text-align: left;
}

#table-top-5-people tr:nth-child(even) {
  background-color: #f5f5f5;
}

#table-top-5-people tr:hover {
  background-color: #eaeaea;
}

#map-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

#map {
  height: 500px;
  width: 100%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.caption {
  line-height: 25px;
  color: #555;
  display: flex;
  flex-direction: column;
}

.caption-topic {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.caption img {
  width: 10px;
  height: 10px;
}

.legend {
  line-height: 20px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 20px;
  height: 2px;
  background-color: #000000;
  margin: 4px;
  transition: 0.5s;
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-4px, 4px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-4px, -4px);
}



@media (max-width: 1100px) {
  #map { 
    width: 90%;
  }

  #section-text {
    margin-right: 5%;
  }

  #header-content {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #black-footer {
    flex-direction: column;
    height: 500px;
  }

  #black-footer-text {
    width: 80%;
  }

  #footer-menu-links {
    display: none;
  }

  #footer-information {
    text-align: center;
    font-size: 13px;
  }

  
}

@media (max-width: 900px) {
  #button-us a,
  #button-enter a {
    font-size: 10px;
  }

  #header-content {
    display: flex;
    flex-direction: row;
    height: 5%;
  }

  #logo {
    width: 80px;
    height: 40px;
    margin-left: 20px;
  }

  .graph-title-container {
    width: 60%;
    font-size: 0.8rem;
  }

  #table-top-5-people {
    font-size: 10px;
  }

  .responsiveness-td {
    display: none;
  }

  #menu a {
    text-decoration: none;
    color: black;
  }

  #menu {
    position: absolute;
    top: calc(60px);
    left: 0;
    width: 50%;
    background: #fff;
    flex-direction: column;
    list-style-type: none;
    display: none;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  }
  #menu.active {
    transform: translateX(0);
    display: flex;
  }

  #menu > li {
    font-size: 16px;
    cursor: pointer;
    border-bottom: rgba(0, 0, 0, 0.292) 1px solid;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .mobile-menu {
    display: block;
  }

  .submenu {
    box-shadow: none;
    position: inherit;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
  }

  .submenu li {
    list-style-type: none;
    margin-top: 20px;
    padding-bottom: 10px;
  }

  .show {
    display: block;
  }

  .submenu::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(250, 250, 250, 1) transparent;
  }

  .text-filter > input {
    font-size: 12px;
  }
  
  .filter-button {
    font-size: 14px;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
